name: Deploy Backend to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/1065072984498/locations/global/workloadIdentityPools/github-pool/providers/github-actions-prod
          service_account: cloud-run-deployer@artisan-pro-prod.iam.gserviceaccount.com

      - name: Setup gcloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: '>= 468.0.0'

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy artisan-pro-backend \
            --source=./apps/backend \
            --region europe-west1 \
            --platform managed \
            --allow-unauthenticated
            --build-service-account=1065072984498@cloudbuild.gserviceaccount.com

